<app-navbar></app-navbar>

<div class="card">
    <div class="container">
        <h1 style="font-family: Comic Sans MS,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Create Account</h1>
    </div>

    <form  (ngSubmit)="Do_Submit()" class="example-form field">

        <mat-form-field class="example-full-width field" appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput type="text" name="UserNamw" (input)="Check_Submit()" [(ngModel)]="User_Data.UserName" placeholder="Ex. Pizza" value="" required="">
        </mat-form-field>

        <mat-form-field class="example-full-width field" appearance="outline">
          <mat-label>UserName</mat-label>
          <input matInput type="text" name="User_Name" (input)="Check_Submit()" [(ngModel)]="User_Data.User_Name" placeholder="Ex. Pizza" value="" required="">
        </mat-form-field>

        <mat-form-field class="example-full-width field" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" name="Email" (input)="Check_Submit()" [(ngModel)]="User_Data.Email" placeholder="abc@gmail.com" value="" required="">
        </mat-form-field>

        <mat-form-field class="example-full-width field" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" name="Password" (input)="Check_Submit()" [(ngModel)]="User_Data.Password" placeholder="Enter your email" value="" required>
        </mat-form-field>

        <div class="text-center">
            <button routerLink="home" type="submit"  [disabled]="disable_submit" class="button" mat-raised-button color="warn">Create Account</button>
            <button type="button" class="button" (click)="Do_Reset()" [disabled]="disable_reset" mat-raised-button color="primary">Reset</button>
        </div>
  
        Already have Account, <a (click)="onClick()">Click here to Sign In</a>
  
    </form>

</div>
